<div class="row">
  <div class="col-sm-12 d-flex justify-content-center p-3">
    <div class="card p-5">
      <div class="card-header">
        <h1>Reserve a Table</h1>
      </div>
      <div class="card-body">
        <p class="card-text">
          Make Your reservation here
        </p>
        <div class="form-group">
          <label for="name">
            Name
          </label>
          <input
            type="text"
            id="name"
            [(ngModel)]="name"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="amount">
            Party Amount
          </label>
          <input
            type="number"
            id="amount"
            [(ngModel)]="amount"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="time">
            Time
          </label>
          <select
            class="custom-select"
            id="time"
            [(ngModel)]="time"
            class="form-control"
          >
            <option selected>Choose...</option>
            <option value="1:00pm">1:00pm</option>
            <option value="2:00pm">2:00pm</option>
            <option value="3:00pm">3:00pm</option>
          </select>
        </div>
        <button
          class="btn btn-primary"
          [disabled]="!isComplete()"
          (click)="onSubmitHandler()"
        >
          Reserve
        </button>
      </div>
    </div>
  </div>
</div>
